<div style="text-align: center;margin: 0 auto;width: 70%;border:2px solid #ccc;min-height: 500px"  (scroll)="onScroll($event)">
	
	<div class="eachSection" *ngFor="let i of allData;let z=index" id="extraSection{{z+1}}">
		{{i.data}} <br/>
		<br/>
		<a (click)="showMore('extraSection'+(z+1))">more</a>
		<div *ngIf="showExtra['extraSection'+(z+1)]">
		sdfsdfasfasfasf
			{{i.extraData}}
		</div>
		<div id="extraSection{{z+1}}Sticky" style="border: 1px solid black;background: pink;padding:20px 10px;bottom:0;width: 100%">
			Section one Upvote
		</div>

</div>
</div>
