<div style="text-align: center;margin: 0 auto;width: 70%;border:2px solid #ccc;min-height: 500px"  (scroll)="onScroll($event)">
	
	<div class="eachSection">
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem IpsumLorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem IpsumLorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum <br/>
		<br/>
		<a (click)="showMore('extraSection1')">more</a>
		<div *ngIf="showExtra['extraSection1']">
			I think she will survive, but she won’t stick around!

In Season 6, Episode 8, after being stabbed by the Waif, Arya goes to Lady Crane, the actress, for help. While tending to Arya’s wounds, Lady Crane asks Arya to join her acting troupe. Arya politely turns down the offer, and Lady Crane ask where she will go:

I think she will survive, but she won’t stick around!

In Season 6, Episode 8, after being stabbed by the Waif, Arya goes to Lady Crane, the actress, for help. While tending to Arya’s wounds, Lady Crane asks Arya to join her acting troupe. Arya politely turns down the offer, and Lady Crane ask where she will go:

I think she will survive, but she won’t stick around!

In Season 6, Episode 8, after being stabbed by the Waif, Arya goes to Lady Crane, the actress, for help. While tending to Arya’s wounds, Lady Crane asks Arya to join her acting troupe. Arya politely turns down the offer, and Lady Crane ask where she will go:

I think she will survive, but she won’t stick around!

In Season 6, Episode 8, after being stabbed by the Waif, Arya goes to Lady Crane, the actress, for help. While tending to Arya’s wounds, Lady Crane asks Arya to join her acting troupe. Arya politely turns down the offer, and Lady Crane ask where she will go:

I think she will survive, but she won’t stick around!

In Season 6, Episode 8, after being stabbed by the Waif, Arya goes to Lady Crane, the actress, for help. While tending to Arya’s wounds, Lady Crane asks Arya to join her acting troupe. Arya politely turns down the offer, and Lady Crane ask where she will go:

I think she will survive, but she won’t stick around!

In Season 6, Episode 8, after being stabbed by the Waif, Arya goes to Lady Crane, the actress, for help. While tending to Arya’s wounds, Lady Crane asks Arya to join her acting troupe. Arya politely turns down the offer, and Lady Crane ask where she will go:

I think she will survive, but she won’t stick around!

In Season 6, Episode 8, after being stabbed by the Waif, Arya goes to Lady Crane, the actress, for help. While tending to Arya’s wounds, Lady Crane asks Arya to join her acting troupe. Arya politely turns down the offer, and Lady Crane ask where she will go:

I think she will survive, but she won’t stick around!

In Season 6, Episode 8, after being stabbed by the Waif, Arya goes to Lady Crane, the actress, for help. While tending to Arya’s wounds, Lady Crane asks Arya to join her acting troupe. Arya politely turns down the offer, and Lady Crane ask where she will go:

I think she will survive, but she won’t stick around!

In Season 6, Episode 8, after being stabbed by the Waif, Arya goes to Lady Crane, the actress, for help. While tending to Arya’s wounds, Lady Crane asks Arya to join her acting troupe. Arya politely turns down the offer, and Lady Crane ask where she will go:

I think she will survive, but she won’t stick around!

In Season 6, Episode 8, after being stabbed by the Waif, Arya goes to Lady Crane, the actress, for help. While tending to Arya’s wounds, Lady Crane asks Arya to join her acting troupe. Arya politely turns down the offer, and Lady Crane ask where she will go:

I think she will survive, but she won’t stick around!

In Season 6, Episode 8, after being stabbed by the Waif, Arya goes to Lady Crane, the actress, for help. While tending to Arya’s wounds, Lady Crane asks Arya to join her acting troupe. Arya politely turns down the offer, and Lady Crane ask where she will go:

I think she will survive, but she won’t stick around!

In Season 6, Episode 8, after being stabbed by the Waif, Arya goes to Lady Crane, the actress, for help. While tending to Arya’s wounds, Lady Crane asks Arya to join her acting troupe. Arya politely turns down the offer, and Lady Crane ask where she will go:

I think she will survive, but she won’t stick around!

In Season 6, Episode 8, after being stabbed by the Waif, Arya goes to Lady Crane, the actress, for help. While tending to Arya’s wounds, Lady Crane asks Arya to join her acting troupe. Arya politely turns down the offer, and Lady Crane ask where she will go:

I think she will survive, but she won’t stick around!

In Season 6, Episode 8, after being stabbed by the Waif, Arya goes to Lady Crane, the actress, for help. While tending to Arya’s wounds, Lady Crane asks Arya to join her acting troupe. Arya politely turns down the offer, and Lady Crane ask where she will go:


I think she will survive, but she won’t stick around!

In Season 6, Episode 8, after being stabbed by the Waif, Arya goes to Lady Crane, the actress, for help. While tending to Arya’s wounds, Lady Crane asks Arya to join her acting troupe. Arya politely turns down the offer, and Lady Crane ask where she will go:


I think she will survive, but she won’t stick around!

In Season 6, Episode 8, after being stabbed by the Waif, Arya goes to Lady Crane, the actress, for help. While tending to Arya’s wounds, Lady Crane asks Arya to join her acting troupe. Arya politely turns down the offer, and Lady Crane ask where she will go:

I think she will survive, but she won’t stick around!

In Season 6, Episode 8, after being stabbed by the Waif, Arya goes to Lady Crane, the actress, for help. While tending to Arya’s wounds, Lady Crane asks Arya to join her acting troupe. Arya politely turns down the offer, and Lady Crane ask where she will go:

I think she will survive, but she won’t stick around!

In Season 6, Episode 8, after being stabbed by the Waif, Arya goes to Lady Crane, the actress, for help. While tending to Arya’s wounds, Lady Crane asks Arya to join her acting troupe. Arya politely turns down the offer, and Lady Crane ask where she will go:

I think she will survive, but she won’t stick around!

In Season 6, Episode 8, after being stabbed by the Waif, Arya goes to Lady Crane, the actress, for help. While tending to Arya’s wounds, Lady Crane asks Arya to join her acting troupe. Arya politely turns down the offer, and Lady Crane ask where she will go:

I think she will survive, but she won’t stick around!

In Season 6, Episode 8, after being stabbed by the Waif, Arya goes to Lady Crane, the actress, for help. While tending to Arya’s wounds, Lady Crane asks Arya to join her acting troupe. Arya politely turns down the offer, and Lady Crane ask where she will go:
I think she will survive, but she won’t stick around!

In Season 6, Episode 8, after being stabbed by the Waif, Arya goes to Lady Crane, the actress, for help. While tending to Arya’s wounds, Lady Crane asks Arya to join her acting troupe. Arya politely turns down the offer, and Lady Crane ask where she will go:

I think she will survive, but she won’t stick around!

In Season 6, Episode 8, after being stabbed by the Waif, Arya goes to Lady Crane, the actress, for help. While tending to Arya’s wounds, Lady Crane asks Arya to join her acting troupe. Arya politely turns down the offer, and Lady Crane ask where she will go:
I think she will survive, but she won’t stick around!

In Season 6, Episode 8, after being stabbed by the Waif, Arya goes to Lady Crane, the actress, for help. While tending to Arya’s wounds, Lady Crane asks Arya to join her acting troupe. Arya politely turns down the offer, and Lady Crane ask where she will go:

I think she will survive, but she won’t stick around!

In Season 6, Episode 8, after being stabbed by the Waif, Arya goes to Lady Crane, the actress, for help. While tending to Arya’s wounds, Lady Crane asks Arya to join her acting troupe. Arya politely turns down the offer, and Lady Crane ask where she will go:
</div>
<div id="extraSection1" style="border: 1px solid black;background: pink;padding:20px 10px;bottom:0;width: 100%">
		Section one Upvote
</div>

<!-- <div *ngIf="showStrickyFooter['extraSection1']" id="extraSection1"  style="border: 1px solid black;background: pink;padding:20px 10px;position: fixed;bottom: 0;width: 70%;left:15%;z-index: 1">
	Cooment Upvote
</div> -->
		
	</div>
	<div class="eachSection">
			Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem IpsumLorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem IpsumLorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum

		<a (click)="showMore('extraSection2')">more</a>
		<div *ngIf="showExtra['extraSection2']" >
			I think she will survive, but she won’t stick around!

In Season 6, Episode 8, after being stabbed by the Waif, Arya goes to Lady Crane, the actress, for help. While tending to Arya’s wounds, Lady Crane asks Arya to join her acting troupe. Arya politely turns down the offer, and Lady Crane ask where she will go:

I think she will survive, but she won’t stick around!

In Season 6, Episode 8, after being stabbed by the Waif, Arya goes to Lady Crane, the actress, for help. While tending to Arya’s wounds, Lady Crane asks Arya to join her acting troupe. Arya politely turns down the offer, and Lady Crane ask where she will go:

I think she will survive, but she won’t stick around!

In Season 6, Episode 8, after being stabbed by the Waif, Arya goes to Lady Crane, the actress, for help. While tending to Arya’s wounds, Lady Crane asks Arya to join her acting troupe. Arya politely turns down the offer, and Lady Crane ask where she will go:

I think she will survive, but she won’t stick around!

In Season 6, Episode 8, after being stabbed by the Waif, Arya goes to Lady Crane, the actress, for help. While tending to Arya’s wounds, Lady Crane asks Arya to join her acting troupe. Arya politely turns down the offer, and Lady Crane ask where she will go:

I think she will survive, but she won’t stick around!

In Season 6, Episode 8, after being stabbed by the Waif, Arya goes to Lady Crane, the actress, for help. While tending to Arya’s wounds, Lady Crane asks Arya to join her acting troupe. Arya politely turns down the offer, and Lady Crane ask where she will go:

I think she will survive, but she won’t stick around!

In Season 6, Episode 8, after being stabbed by the Waif, Arya goes to Lady Crane, the actress, for help. While tending to Arya’s wounds, Lady Crane asks Arya to join her acting troupe. Arya politely turns down the offer, and Lady Crane ask where she will go:

I think she will survive, but she won’t stick around!

In Season 6, Episode 8, after being stabbed by the Waif, Arya goes to Lady Crane, the actress, for help. While tending to Arya’s wounds, Lady Crane asks Arya to join her acting troupe. Arya politely turns down the offer, and Lady Crane ask where she will go:

I think she will survive, but she won’t stick around!

In Season 6, Episode 8, after being stabbed by the Waif, Arya goes to Lady Crane, the actress, for help. While tending to Arya’s wounds, Lady Crane asks Arya to join her acting troupe. Arya politely turns down the offer, and Lady Crane ask where she will go:

I think she will survive, but she won’t stick around!

In Season 6, Episode 8, after being stabbed by the Waif, Arya goes to Lady Crane, the actress, for help. While tending to Arya’s wounds, Lady Crane asks Arya to join her acting troupe. Arya politely turns down the offer, and Lady Crane ask where she will go:

I think she will survive, but she won’t stick around!

In Season 6, Episode 8, after being stabbed by the Waif, Arya goes to Lady Crane, the actress, for help. While tending to Arya’s wounds, Lady Crane asks Arya to join her acting troupe. Arya politely turns down the offer, and Lady Crane ask where she will go:

I think she will survive, but she won’t stick around!

In Season 6, Episode 8, after being stabbed by the Waif, Arya goes to Lady Crane, the actress, for help. While tending to Arya’s wounds, Lady Crane asks Arya to join her acting troupe. Arya politely turns down the offer, and Lady Crane ask where she will go:

I think she will survive, but she won’t stick around!

In Season 6, Episode 8, after being stabbed by the Waif, Arya goes to Lady Crane, the actress, for help. While tending to Arya’s wounds, Lady Crane asks Arya to join her acting troupe. Arya politely turns down the offer, and Lady Crane ask where she will go:

I think she will survive, but she won’t stick around!

In Season 6, Episode 8, after being stabbed by the Waif, Arya goes to Lady Crane, the actress, for help. While tending to Arya’s wounds, Lady Crane asks Arya to join her acting troupe. Arya politely turns down the offer, and Lady Crane ask where she will go:

I think she will survive, but she won’t stick around!

In Season 6, Episode 8, after being stabbed by the Waif, Arya goes to Lady Crane, the actress, for help. While tending to Arya’s wounds, Lady Crane asks Arya to join her acting troupe. Arya politely turns down the offer, and Lady Crane ask where she will go:


I think she will survive, but she won’t stick around!

In Season 6, Episode 8, after being stabbed by the Waif, Arya goes to Lady Crane, the actress, for help. While tending to Arya’s wounds, Lady Crane asks Arya to join her acting troupe. Arya politely turns down the offer, and Lady Crane ask where she will go:


I think she will survive, but she won’t stick around!

In Season 6, Episode 8, after being stabbed by the Waif, Arya goes to Lady Crane, the actress, for help. While tending to Arya’s wounds, Lady Crane asks Arya to join her acting troupe. Arya politely turns down the offer, and Lady Crane ask where she will go:

I think she will survive, but she won’t stick around!

In Season 6, Episode 8, after being stabbed by the Waif, Arya goes to Lady Crane, the actress, for help. While tending to Arya’s wounds, Lady Crane asks Arya to join her acting troupe. Arya politely turns down the offer, and Lady Crane ask where she will go:

I think she will survive, but she won’t stick around!

In Season 6, Episode 8, after being stabbed by the Waif, Arya goes to Lady Crane, the actress, for help. While tending to Arya’s wounds, Lady Crane asks Arya to join her acting troupe. Arya politely turns down the offer, and Lady Crane ask where she will go:
</div>
<div  id="extraSection2" style="border: 1px solid black;background: pink;padding:20px 10px;bottom:0;width: 100%">
		Second Section Upvote
</div>

<!-- <div *ngIf="showStrickyFooter['extraSection2']"  id="extraSection2"  style="border: 1px solid black;background: pink;padding:20px 10px;position: fixed;bottom: 0;width: 70%;left:15%;z-index: 1">
	Cooment Upvote
</div> -->
		
	</div>
	<div class="eachSection">
			Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem IpsumLorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem IpsumLorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
	</div>
	<div class="eachSection">
			Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem IpsumLorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem IpsumLorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
	</div>
	<div class="eachSection">
			Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem IpsumLorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem IpsumLorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
	</div>
	<div class="eachSection">
			Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem IpsumLorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem IpsumLorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum
	</div>
</div>
